.restart-button{

}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.blur{
    filter: blur(2px);
}

.container > *{
    padding:5vh;
}

.game-board{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.game-tile{
    padding:30px;
    border:1px solid black;
}

.end-game-screen{
    /* display: none; */
}