.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

main{
    margin-top:5rem;
    
}

.name-inputs{
    display:flex;
    /* flex-flow: column; */
    gap: 2rem;
}

.game-types{
    display: flex;
    justify-content: center;
    padding:5rem 0;
    gap:2rem;
}

.game-type-button{
    text-decoration: none;
    color:black;
    border-radius: 10px;
    padding:1rem 3rem;
    box-shadow: 3px 3px 10px grey;
    border:1px solid black;
}

footer{
    margin-top:10rem;
}